* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 16px 0;
    color: #ccc;
}

header li a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

header li a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 15px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial;
}

.articles article h3 {
    font-size: 24px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(255, 0, 0, 0.1);
}

#sports .articles article a {
    background-color: rgba(255, 0, 0, 0.8);
    color: 000;
}

#sports h2{
    color: brown;
}

#economy {
    background-color: rgba(236, 228, 73, 0.5);
}

#economy .articles article a {
    background-color: rgba(234, 222, 0, 1.0);
    color: 000;
}

#economy h2 {
    color: gold;
}

#music {
    background-color: rgba(255, 0, 200, 0.1);
}

#music h2{
    color: rgb(117, 0, 133);
}

#music .articles article a {
    background-color: rgb(117, 0, 133);
    color: 000;
}

#tecno {
    background-color: rgba(0, 0, 255, 0.1);
}

#tecno h2{
    color: rgba(0, 0, 255, 0.8)
}

#tecno .articles article a {
    background-color: rgba(0, 0, 255, 1.0);
    color: 000;
}
.creation-date {
    color: #afafaf;
    font-size: small;
}

